{% extends 'base.html' %}
{% load static %}


{%  block content %}

{% include 'navbar.html' %}


<div class="page-header" style="background: url({% static 'assets/img/banner1.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Blog</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home /</a></li>
                        <li class="current">Blog</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex flex-column">
                        <img class="img-fluid rounded w-75 align-self-end" src="{% static 'assets/img/logo1.jpeg' %}" alt="">
                    </div>

                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="mb-4">Why You Should Trust Us? Get To Know About Us!</h1>
                    <p>Our mission is to empower the youth of Zimbabwe by providing a comprehensive platform for education, engagement, and support. Through our innovative web application, we aim to address social issues, promote safe practices, and equip young people with the skills and knowledge needed to thrive in the digital age.</p>

                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


{% endblock %}
