{% extends 'base.html' %}
{% load static %}


{%  block content %}

{% include 'navbar.html' %}


<div class="page-header" style="background: url({% static 'assets/img/banner1.jpg' %});">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="breadcrumb-wrapper">
<h2 class="product-title">Blog</h2>
<ol class="breadcrumb">
<li><a href="{% url 'home' %}">Home /</a></li>
<li class="current">Blog</li>
</ol>
</div>
</div>
</div>
</div>
</div>


<div class="main-container section-padding">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12 page-content">
<div class="adds-wrapper">
<div class="tab-content">
<div id="list-view" class="tab-pane fade active show">
<div class="row">

{% if blog_items.count != 0 %}
    {% for item in blog_items %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="featured-box">
<figure>

<a href="#"><img class="img-fluid" src="{{ item.cover_image.url }}" alt=""></a>
</figure>
<div class="feature-content">
<h4><a href="ads-details.html">{{ item.title }}</a></h4>
<div class="meta-tag">
<span>
<i class="lni-user"></i> {{ item.posted_by.full_name }}
</span>
<span>
<i class="lni-map-marker"></i> {{ item.date_posted }}
</span>
</div>
<p class="dsc">{{ item.short_description }}</p>
<div class="listing-bottom">
<a href="{% url 'blog-detail' item.id %}" class="btn btn-common float-right">View Details</a>
</div>
</div>
</div>
</div>
    {% endfor %}

{% else %}

    <div style="margin-left: 30%; margin-top: 00%">
<h4>No blog items available</h4>
    </div>
{% endif %}




</div>
</div>
</div>
</div>


</div>
</div>
</div>
</div>


{% endblock %}