{% extends 'base.html' %}
{% load static %}


{% block content %}

 {% include 'navbar.html' %}

    <div class="page-header" style="background: url({% static 'assets/img/banner1.jpg' %});">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="breadcrumb-wrapper">
<h2 class="product-title">Blog Details</h2>
<ol class="breadcrumb">
<li><a href="#">Home /</a></li>
<li class="current">Blog Details</li>
</ol>
</div>
</div>
</div>
</div>
</div>


<div id="content" class="section-padding">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12">

<div class="blog-post single-post">

<div class="post-thumb">
<a href="#"><img class="img-fluid" src="{{ blog_item.cover_image.url }}" alt=""></a>
<div class="hover-wrap">
</div>
</div>


<div class="post-content">
<h2 class="post-title">{{ blog_item.title }}</h2>
<div class="meta">
<span class="meta-part"><i class="lni-user"></i> {{ blog_item.posted_by.full_name }}</span>
<span class="meta-part"><i class="lni-alarm-clock"></i> {{ blog_item.date_posted }}</span>
<span class="meta-part"><i class="lni-comments-alt"></i> 1 Comments</span>
</div>
<div class="entry-summary">
<p>{{ blog_item.content }}</p>
</div>
</div>

</div>


<div id="comments">
<div class="comment-box">
<h3>Comments</h3>
<ol class="comments-list">
{% for comment in comments %}

    <li>
<div class="media col-lg-12 col-md-12col-xs-12">
<div class="info-body col-lg-12 col-md-12col-xs-12">
<div class="media-heading col-lg-12 col-md-12col-xs-12">
<h4 class="name col-lg-12 col-md-12col-xs-12">{{ comment.posted_by.full_name }}</h4>
<span class="comment-date"><i class="lni-alarm-clock"></i>{{ comment.date_posted }}</span>
</div>
    <p class="col-lg-12 col-md-12col-xs-12">{{ comment.comment }}</p>
</div>
</div>


    {% endfor %}
</ol>

{% if request.user.is_authenticated %}
<div id="respond">
<h2 class="respond-title">Leave A Comment</h2>
<form action="{% url 'blog-detail' blog_item.id %}" method="post">
    {% csrf_token %}

<div class="row">
<div class="col-lg-12 col-md-12col-xs-12">
<div class="form-group">
<textarea id="comment" class="form-control" name="comment" cols="45" rows="4" placeholder="Comment..."></textarea>
</div>
<button type="submit" id="submit" class="btn btn-common">Post Comment</button>
</div>
</div>
</form>
</div>

{% endif %}

</div>
</div>

</div>


</div>
</div>
</div>




{% endblock content %}