{% load static %}

<header id="header-wrap">

<div class="top-bar">
<div class="container">
<div class="row">
<div class="col-lg-5 col-md-7 col-xs-12">
<div class="roof-social float-right">
<a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
<a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
<a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
<a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a>
<a class="google" href="#"><i class="lni-google-plus"></i></a>
</div>
<div class="header-top-right float-right">
<a href="login.html" class="header-top-button"><i class="lni-lock"></i> Log In</a> |
<a href="register.html" class="header-top-button"><i class="lni-pencil"></i> Register</a>
</div>
</div>
</div>
</div>
</div>


<nav class="navbar navbar-expand-lg bg-white fixed-top scrolling-navbar">
<div class="container">

<div class="navbar-header">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
<span class="lni-menu"></span>
<span class="lni-menu"></span>
<span class="lni-menu"></span>
</button>
<a href="{% url 'home' %}" class="navbar-brand"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
</div>
<div class="collapse navbar-collapse" id="main-navbar">
<ul class="navbar-nav mr-auto w-100 justify-content-center">

<li class="nav-item {{ home_nav }}">
<a class="nav-link" href="{% url 'home' %}">
Home
</a>
</li>

<li class="nav-item {{ feed_nav }}">
<a class="nav-link" href="{% url 'feed' %}">
Feed
</a>
</li>

<li class="nav-item {{ articles_nav }}">
<a class="nav-link" href="{% url 'articles' %}">
Educational Articles
</a>
</li>

<li class="nav-item {{ blog_nav }}">
<a class="nav-link" href="{% url 'blog' %}">
Blog
</a>
</li>

<li class="nav-item {{ gallery_nav }}">
<a class="nav-link" href="{% url 'gallery' %}">
Gallery
</a>
</li>

<li class="nav-item {{ about_nav }}">
<a class="nav-link" href="{% url 'about' %}">
About
</a>
</li>

<li class="nav-item {{ contact_nav }}">
<a class="nav-link" href="{% url 'contact' %}">
Contact
</a>
</li>

</ul>
</div>
</div>

<ul class="mobile-menu">
<li>
<a class="active" href="#">
Home
</a>
<ul class="dropdown">
<li><a href="index-2.html">Home 1</a></li>
<li><a class="active" href="index-3.html">Home 2</a></li>
</ul>
</li>
<li>
<a href="category.html">Categories</a>
</li>
<li>
<a href="#">
Listings
</a>
<ul class="dropdown">
<li><a href="adlistinggrid.html">Ad Grid</a></li>
<li><a href="adlistinglist.html">Ad Listing</a></li>
<li><a href="ads-details.html">Listing Detail</a></li>
</ul>
</li>
<li>
<a href="#">Pages</a>
<ul class="dropdown">
<li><a href="about.html">About Us</a></li>
<li><a href="services.html">Services</a></li>
<li><a href="ads-details.html">Ads Details</a></li>
<li><a href="post-ads.html">Ads Post</a></li>
<li><a href="pricing.html">Packages</a></li>
<li><a href="testimonial.html">Testimonial</a></li>
<li><a href="faq.html">FAQ</a></li>
<li><a href="404.html">404</a></li>
</ul>
</li>
<li>
<a href="#">Blog</a>
<ul class="dropdown">
<li><a href="blog.html">Blog - Right Sidebar</a></li>
<li><a href="blog-left-sidebar.html">Blog - Left Sidebar</a></li>
<li><a href="blog-grid-full-width.html"> Blog full width </a></li>
<li><a href="single-post.html">Blog Details</a></li>
</ul>
</li>
<li>
<a href="contact.html">Contact Us</a>
</li>
</ul>

</nav>

</header>